body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0);
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: black;
}
